<div class="row">
    <div class="col-md-6 col-md-offset-3">
    <h3>Devices</h3>

    <a href="?p=config&device=0">Add device</a>

    {if isset($devices) AND count($devices)>0}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Source Type</th>
                <th>Device Type</th>
                <th>Group</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {loop $devices}
            <tr>
                <td>{$name}</td>
                <td>{$type}</td>
                <td>{$dtype}</td>
                <td>{$group_name}</td>
                <td><a href="?p=config&device={$id}">edit</a></td>
            </tr>
        </li>
             {/loop}
        </tbody>
    </table>

    {/if}
</div>
</div>