<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>{$title}</h3>
        <p>
            <a href="?p=home">Back...</a>
        </p>
        {if !is_array($history) OR (is_array($history) AND count($history)<1)}
        <p class="text-info bg-warning">
            No data found!{if !is_array($history) AND strlen($history)>0} SQL ERROR: {$history}{/if}
        </p>
        {else}
        <div id="device_history_container">
        <table id="device_history" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>STATE</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {loop $history}
                <tr>
                    <td id="data_{$id}">{$data}</td>
                    <td id="time_{$id}">{$time_f}</td>
                </tr>
                {/loop}

            </tbody>
        </table>
            </div>
        {/if}
    </div>
</div>