<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>{$title}</h3>
        <p>
            <a href="?p=events&trigger=0">Add new trigger</a>
            <a href="?p=events&action=0">Add new Action</a>
        </p>
        <div class="list-group">

            {loop $triggers}

            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading"><span id="name_{$id}">{$name}</span></h4>
                <p class="list-group-item-text">
                    <strong>Type:</strong> TRIGGER<br/>
               
                    <strong>Device:</strong>
                    <span class='fakelink' title='Click to jump to the device history...' onclick='window.location="?p=device_history&device_id={$device_id}"; return false;' id="device_name_{$id}">{$device_name}</span><br/>
               
                    <strong>Acton when value = </strong>
                    <span id="device_value_{$id}"><font color='red'>{$device_value}</font></span><br/>
               
                    <strong>Delay:</strong> <span id="delay_{$id}">{$delay} secs</span><br/>
                    <strong>Active:</strong> {if $enabled==1} <font color='green'>yes</font> {else} <font color='red'>no</font> {/if}
                </p>
                
                {loop $actions}
                <ol>
                    <li>
                        <h5 class="list-group-item-heading"><span id="action_name_{$id}">{$name}</span></h5>
                        <strong>Object:</strong> {$object}<br/>
                        <strong>Action data:</strong> {$device_data}<br/>
                        <strong>Delay:</strong> {$delay} secs<br/>
                        <strong>Priority:</strong> #{$priority}<br/>
                        <strong>Connection type:</strong> {$connection_type}<br/>
                        {if $connection_type == 'mqtt'}
                            <strong>Topic:</strong> {$topic}<br/>
                        {/if}
                    </li>
                </ol>
                {/loop}
                
            </a>            
            {/loop}
        </div>
    </div>
</div>