<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>Devices</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Group</th>
                    <th>Last Update</th>
                </tr>
            </thead>
            <tbody>
                {loop $devices}
                <tr class="device {$type}" id="device_{$id}" dtype='{$dtype}'>
                    <td id="name_{$id}"><a href="?p=device_history&device_id={$id}">{$name}</a></td>
                    <td class="{$dtype}" id="status_{$id}">{$status}</td>
                    <td id="group_{$id}">{$groupname}</td>
                    <td id="last_update_{$id}" unix="{$last_update}">{$last_update_f}</td>
                </tr>
                {/loop}

            </tbody></table>
    </div>
</div>
<script type="text/javascript">
var focusFlag = 1;
    $(document).ready(function () {//start doc ready

    jQuery(window).bind("focus",function(event){
        focusFlag = 1;
    }).bind("blur", function(event){
        focusFlag = 0;
    });

        var interval = setInterval(function () {
            var ids = "?";
///periodical check
if (focusFlag===1) {
            $("tr.device").each(function () {
                var id = this.id.match(/\d+/);
                var nid = parseInt(id);
                var dtype = $("#device_" + nid).attr("dtype");
                if (dtype === "switch" || dtype === "sensor") {
                      ids+= "device_status[]="+ nid+"&";
                }
            });
            ids = ids.substring(0, ids.length - 1);
//get
            $.get("jsapi.php"+ids, function (data) {
		    $.each(data,function(id,device){
			    var last_update = $("#last_update_"+device.device_id).attr("unix");
			    var lupdate_name = "#last_update_"+device.device_id;
				if (last_update != device.last_update) {
				    var status = $("#status_"+device.device_id);
				    status.html(device.device_status);
				    $(lupdate_name).attr("unix",device.last_update);
				    $(lupdate_name).html(device.last_update_f);
				}
		    });
            }, "json");
//get            
}
///periodical check
        }
        , 1000);

        var changeState = function (id, state) {
            jQuery.ajaxSetup({async: false});
            $.get("jsapi.php?changeState=" + state + "&deviceId=" + id, function (data) {
            }, "json");
            jQuery.ajaxSetup({async: true});
        }

        $("tr.device").each(function () {
            var id = this.id.match(/\d+/);
            var nid = parseInt(id);
            var dtype = $("#device_" + nid).attr("dtype");
            if (dtype === "switch") {
                $("#status_" + nid).css("cursor", "pointer");
                $("#status_" + nid).click(function () {
                    $(this).html("");

                    $.get("jsapi.php?changeState=OFF&deviceId=" + nid, function (data) {
                        $("#status_" + nid).html(data.device_status);
                    }, "json");
                });
            }




        });
    });//end doc ready

</script>
