<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>{$title}</h3>
        <p><a href="?p=motioneye&device=0">Add device</a></p>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last update</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {loop $devices}
                <tr id="device_{$id}">
                    <td id="name_{$id}"><a href="?p=motioneye&url={$id}">{$name}</a></td>
                    <td id="time_{$id}">{$time}</td>
                    <td id="status_{$id}">{$status}</td>
                </tr>
                {/loop}

            </tbody></table>
    </div>
</div>