<div class="row">


    <div class="col-md-6 col-md-offset-3">
        <h3>{$title}</h3>
        <a href="?p=mqtt&mqtt_device=0">Add new MQTT connection</a>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Response</th>
                    <th>Last Update</th>
                    <th>Device</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {loop $mqtt}
                <tr{if $enabled==0} class="text-muted text-red"{/if}>
                    <td>{$topic}</td>
                    <td>{$response}</td>
                    <td>{$last_update_m}</td>
                    <td>{$name}</td>
                    <td>
                        <a href="?p=mqtt&mqtt_device={$id}">edit</a>
                        <a href="?p=mqtt&mqtt_device_del={$id}">delete</a>
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
    </div>
</div>