
td.controller{
    cursor: pointer;
    text-align: center;
}

p {
    padding: 8px;
}

table tr:hover,.table-striped>tbody>tr:nth-of-type(odd):hover {
    background-color: darkgrey;
    color: #000;
}
div#device_history_container {
    overflow-y: scroll; 
    max-height:600px;
    display:block;
}

.fakelink {
    color: #fff;    
}
.fakelink:hover {
    color: #fff;
    text-decoration: underline;
}
td.none,td.switch,td.sensor {
	text-align: center;
}
